[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "themes/Blonde"]
	path = themes/Blonde
	url = https://github.com/opera7133/Blonde.git
[submodule "themes/npq-hugo"]
	path = themes/npq-hugo
	url = https://github.com/saadsolimanxyz/npqhugo.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
